.App {
  text-align: center;
}

.App {
  background-image: linear-gradient(#8080d9,#AB9EDB);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  font-weight: 400;
}

input {
  opacity: 1 !important;
}

.App-link {
  color: #61dafb;
}
